{%extends 'homepage.html'%}
{%load static%}
{%block content%}

<!-- Header Area Start -->
{%include 'header.html'%}
<!-- End of Header Area -->
<!-- End of Header Area -->

<!-- Page Banner Area Start -->
<div class="page-banner-area overlay section">
    <div class="container">
        <div class="row">
            <!-- Page Banner -->
            <div class="page-banner text-center col-xs-12">
                <h1>ИНСТИТУЦИОНАЛДЫК АККРЕДИТАЦИЯ</h1>
                <!-- Breadcrumb -->
                <ul class="breadcrumb">
                    <li><a href="{% url 'index'%}">Башкы бет</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End of Page Banner Area -->

<!-- News Area Start --> 
<section class="schedule_page text_page section">
    <div class="container">
       <div class="list" data-align-height="span">
          {%for accreditation in accreditation%}
          <div class = 'adi_block'><span style="height: 182px;"><a href="{% url 'inst_detail' accreditation.id %}" data-toggle="_modal" data-number="0">{{accreditation.name}}</a></span></div>
          {% endfor %}
       <div class="text">
          <p>&nbsp;</p>
          <p>&nbsp;</p>
       </div>
    </div>
 </section>

</style>

<!-- End of Latest News Area -->
        
<!-- Footer Bottom Area Start -->
{%include 'footer.html'%}
<!-- End of Footer Bottom Area -->

<!-- jquery -->		
{%endblock%}