{%extends 'homepage.html'%}
{%load static%}
{%block content%}

<!-- Header Area Start -->
{%include 'header.html'%}
<!-- End of Header Area -->
<body class='teacher'>    

<!-- Page Banner Area Start -->
<div class="page-banner-area overlay section">
    <div class="container">
        <div class="row">
            <!-- Page Banner -->
            <div class="page-banner text-center col-xs-12">
                <h1>Биздин мугалимдер </h1>
                <!-- Breadcrumb -->
                <ul class="breadcrumb">
                    <li><a href="{% url 'index'%}">Башкы бет</a></li>
                    <li><a href="{%url 'teacher'%}">Биздин мугалимдер</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End of Page Banner Area -->

<div class="news-area bg-white section pt-120 pb-120">
    <div class="container">
        <!-- Section Title -->
        <div class="row">
            

            {%for parent in parent%}
            <div class = 'adi_block'><span style="height: 190px;"><a href="{{parent.parents_doc.url}}" data-toggle="_modal" data-number="0">{{parent.name}}</a></span></div>

            {%endfor%}
        </div>
       
    </div>
</div>

<!-- End of Course Area -->
<!-- Footer Top Area Start -->
{%include 'footer.html'%}
<!-- End of Footer Bottom Area -->

<!-- jquery -->		
{%endblock%}