{%extends 'homepage.html'%}
{%load static%}
{%block content%}

<!-- Header Area Start -->
{%include 'header.html'%}
<!-- End of Header Area -->

<!-- Page Banner Area Start -->
<div class="page-banner-area overlay section">
    <div class="container">
        <div class="row">
            <!-- Page Banner -->
            <div class="page-banner text-center col-xs-12">
                <h1 class="section_title">{{accreditation.name}}</h1>

                <!-- Breadcrumb -->
                <ul class="breadcrumb">
                    <li><a href="{% url 'index'%}">Башкы бет</a></li>
                    <li><a href="{%url 'prog_akred' %}">Артка  кайтуу</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End of Page Banner Area -->


<div class="news-area bg-white section pt-120 pb-120">
    <div class="container">
        <!-- Section Title -->
        <div class="row">
            <section class="schedule_page text_page section">
                <div class="container">
                <div class="list" data-align-height="span">
                    {%for accreditation in accreditation.accreditation.all%}

                    <div class = 'adi_block'><span style="height: 182px;"><a href="{{accreditation.accreditation_detail.url}}" data-toggle="_modal" data-number="0">{{accreditation.name}}</a></span></div>
                    {% endfor %}
                    
                </div>
                <div class="text">
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
                </div>
            </section>

        </div>
       
    </div>
</div>
<!-- News Area Start --> 

<!--End of Ne
<!--End of News Area-->
        
{%include 'footer.html'%}
<!-- End of Footer Bottom Area -->

<!-- jquery -->		
{%endblock%}