{%extends 'homepage.html'%}
{%load static%}
{%block content%}

<!-- Header Area Start -->
{%include 'header.html'%}
<!-- End of Header Area -->
<!-- End of Header Area -->

<!-- Page Banner Area Start -->
<div class="page-banner-area overlay section">
    <div class="container">
        <div class="row">
            <!-- Page Banner -->
            <div class="page-banner text-center col-xs-12">
                <h1>ПРОГРАММАЛЫК АККРЕДИТАЦИЯ</h1>
                <!-- Breadcrumb -->
                <ul class="breadcrumb">
                    <li><a href="{% url 'index'%}">Башкы бет</a></li
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End of Page Banner Area -->

 

<!-- End of Latest News Area -->
        
<!-- Footer Bottom Area Start -->
{%include 'footer.html'%}
<!-- End of Footer Bottom Area -->

<!-- jquery -->		
{%endblock%}